## Set and Set methods

In [39]:
s= {2,4,2,6,5}
print(s)

info={"Opu",22,True,2.5,22}
print(info)
print(type(info))

epm=set() # empty set
print(type(epm))

for value in info:
    print(value)

{2, 4, 5, 6}
{True, 2.5, 'Opu', 22}
<class 'set'>
<class 'set'>
True
2.5
Opu
22

In [61]:
s1={1,5,6,4,7}
s2={4,9,6,3,2,7}
print(s1.union(s2))
print(s1.intersection(s2))

s1.update(s2) # updates the value of s1 and ands the value of s2 in s1
print(s1,s2)

{1, 2, 3, 4, 5, 6, 7, 9}
{4, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 9} {2, 3, 4, 6, 7, 9}

In [63]:
s1={1,5,6,4,7}
s2={4,9,6,3,2,7}

s1.intersection_update(s2)
print(s1)

{4, 6, 7}

In [65]:
cities1={"Perth","Berlin","Dhaka","Jeddah"}
cities2={"Dhaka","Sherpur","Perth","Jeddah"}
cities3=cities1.symmetric_difference(cities2)  # this method shows the uncommon value from two sets
print(cities3)

{'Sherpur', 'Berlin'}

In [69]:
cities1={"Perth","Berlin","Dhaka","Jeddah"}
cities2={"Dhaka","Sherpur","Perth","Jeddah"}
cities3=cities1.difference(cities2)  # this method shows the the value which is present in cities1 but not in cities2
print(cities3)

{'Berlin'}

In [73]:
cities={"Perth","Berlin","Dhaka","Jeddah"}
cities.add("Sherpur")
print(cities)

{'Jeddah', 'Sherpur', 'Berlin', 'Dhaka', 'Perth'}

In [85]:
cities={"Perth","Berlin","Dhaka","Jeddah"}
cities.remove("Dhaka")
print(cities)

{'Berlin', 'Jeddah', 'Perth'}

In [89]:
cities={"Perth","Berlin","Dhaka","Jeddah"}
item=cities.pop()
print(cities)
print(item)

{'Dhaka', 'Jeddah', 'Perth'}
Berlin

In [93]:
cities={"Perth","Berlin","Dhaka","Jeddah"}
cities.clear() # clears every element of the set 
print(cities)

set()